@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "PT Sans Narrow", sans-serif;
  color: black;
  background: radial-gradient(circle at 100% 50%, transparent 20%, rgba(255, 255, 255, 0.246) 21%, rgba(255, 255, 255, 0.246) 34%, transparent 35%, transparent), radial-gradient(circle at 0% 50%, transparent 20%, rgba(255, 255, 255, 0.246) 21%, rgba(255, 255, 255, 0.246) 34%, transparent 35%, transparent) 0 -50px;
  background-color: #a1bfc4;
  background-size: 75px 100px; }

h1 {
  font-family: "Satisfy", cursive;
  color: white;
  font-size: 10rem;
  font-weight: bold; }

h2 {
  font-family: "Staatliches", cursive;
  text-align: center; }

/*INICIO HEADER NUEVO PRUEBA-------------------*/
/*INICIO DEL NAV*/
.header {
  top: 0%;
  /*el position hace que quede fijo el nav*/
  position: fixed;
  width: 100%;
  z-index: 1; }

.clara-michi-logo {
  width: 130px;
  height: 120px;
  cursor: pointer;
  margin-left: 20px;
  opacity: 0.9;
  /*para que quede delante*/ }

.menu-inicio {
  position: absolute;
  top: 15px;
  left: 34%;
  display: inline-block;
  border: 2px solid #f9f8fdb6;
  border-radius: 40px;
  background-color: #f9f8fdb6;
  /*esto no esta funcionando*/
  animation: slide-in 1s ease-out; }

.lista-categorias ul {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 7px;
  padding: 0 30px;
  list-style-type: none;
  font-size: 200%; }

.lista-categorias li {
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 10px;
  /*NO ESTA TOMANDO*/
  transition: background 0.2s; }
  .lista-categorias li:not(:last-child) {
    margin-right: 40px; }
  .lista-categorias li:hover {
    background: #ffc617;
    border-radius: 40px; }
    .lista-categorias li:hover a {
      color: black; }

.lista-categorias a {
  color: #32245f;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s; }

/*Texto de Bienvenida*/
.main {
  position: relative;
  background-image: url(../images/iconos/CatWithChef2.webp);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 260px 0 220px; }
  .main .col-sm-12 H4 {
    color: white;
    padding-top: 3%;
    margin-bottom: 0; }
  .main .col-sm-12 H1 {
    margin: 0%;
    padding: 3%;
    font-size: 9rem; }
  .main p {
    padding: 5%;
    padding-bottom: 25px;
    font-size: 1.5rem;
    color: black;
    background-color: #f7e1acad;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }
  .main .read-more {
    background: #74c3cb;
    color: white;
    font-size: 1.5rem;
    margin-left: 39%;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    text-decoration: none; }

/*Altura del texto de bienvenida*/
.row {
  margin-top: 0%; }

/*CARRUSEL DE LOCALES RECIENTES------*/
.carousel-nav-icon {
  height: 48px;
  width: 48px; }

.margin-carusel-custom {
  margin-top: 10rem;
  margin-left: 10%;
  margin-right: 2%; }

.img-carrusel {
  height: 27rem;
  width: 25rem; }
  .img-carrusel img {
    margin-left: 10px;
    height: 100%;
    border-radius: 1.5rem;
    background-size: cover;
    background-position: center center; }

.carousel-button {
  width: 4%; }

/*FIN DEL CARRUSEL*/
/*Grids de imágenes*/
.locals-galery .container .row img {
  height: 100%;
  border-radius: 2rem; }

/*Configuración del fondo de pantalla de las categorías*/
.main-rb {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 260px 0 220px;
  background-image: url(../images/iconos/CatWithEgg.webp); }

.main-h {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 260px 0 220px;
  background-image: url(../images/iconos/BlackCat_Ice_Cream_.webp); }

.main-caf {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 260px 0 220px;
  background-image: url(../images/iconos/CoffeeCat.webp); }

.main-cont {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding: 260px 0 220px;
  background-image: url(../images/iconos/CatContact.webp); }

/*Configuración de las cartas de las categorías de imágenes*/
.imageProperties {
  border-radius: 2rem;
  height: 100%; }

/*--------CONFIGURACIÓN DE CARDS DE LOCALES DE COMIDA---------*/
.grid-locals-container {
  display: block; }

.locales {
  margin: auto; }

.locales-columna {
  margin-top: 30px; }

.cards-locales .locales {
  display: grid; }

.contenedor-cards {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 605px);
  grid-template-rows: 600px 600px;
  font-size: 5rem; }

.container-fluid {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.blog-card {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  height: 450px;
  margin: 0 0;
  max-width: 98%;
  overflow: hidden; }

.card-image-container {
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 2rem;
  margin-top: 20px;
  margin-bottom: 20px; }
  .card-image-container img {
    object-fit: cover;
    display: block;
    width: 92%;
    border-radius: 2rem; }

/*Para agrandar la card*/
.card-body {
  color: #7A7A7A;
  height: 100%;
  padding: 30px 20px 50px; }
  .card-body p {
    font-size: 1.7rem; }

.tagline {
  font-size: 8px;
  text-transform: uppercase; }

.title {
  color: #252830;
  font-family: "Playfair Display SC";
  font-size: 30px;
  font-weight: 400; }

.divider {
  background: #7A7A7A;
  height: 2px;
  margin: 25px auto;
  width: 40px; }

.paragraph {
  font-weight: 300; }

.read-more {
  bottom: 25px;
  color: #7A7A7A;
  cursor: pointer;
  left: 50%;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  top: auto;
  transform: translateX(-50%); }
  .read-more:hover, .read-more:focus, .read-more:visited {
    color: #252830;
    text-decoration: none; }

@media (max-width: 530px) {
  .col-xs-6 {
    width: 100%; } }

@media (min-width: 520px) {
  .cards-locales .locales {
    grid-template-columns: repeat(2, 50%); } }

@media (min-width: 728px) {
  .cards-locales .locales {
    grid-template-columns: repeat(3, 33.3%); } }

@media (min-width: 1024px) {
  .cards-locales .locales {
    grid-template-columns: repeat(2, 50%); }
  .locales {
    width: 1024px; } }

@media (min-width: 1200px) {
  .locales {
    width: 1630px; } }

@media (max-width: 530px) {
  .container-fluid {
    left: 0;
    margin: 10px 0;
    position: relative;
    top: 0;
    transform: none; }
  .card-body {
    background-color: white; } }

@media (max-width: 580px) {
  .blog-card {
    height: 350px;
    overflow: visible; } }

/*Formulario de Contacto*/
.registro {
  text-align: center; }

.notificationSection {
  margin: 3%; }

.textContact {
  padding: 3%; }

/*FOOTER*/
footer {
  background-color: #212121; }

.footer-inicio {
  align-items: center;
  margin-top: 50px; }

.logo {
  width: 100px;
  height: 100px;
  margin: auto; }
  .logo img {
    margin-top: 10px;
    width: 100px; }

.footer-container {
  margin: auto;
  width: 1200px;
  display: flex;
  color: #585353; }

.footer-col-1 {
  width: 500px; }
  .footer-col-1 H3 {
    font-size: 40px;
    margin-bottom: 15px; }
  .footer-col-1 p {
    font-size: 20px;
    margin-bottom: 10px; }

.footer-col-2 {
  font-size: 15px;
  width: 450px; }
  .footer-col-2 img {
    width: 50px;
    margin: 5px; }
  .footer-col-2 .tw, .footer-col-2 .ig, .footer-col-2 .fb {
    display: flex;
    align-items: center; }
  .footer-col-2 H3 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px; }
  .footer-col-2 p {
    font-size: 20px; }

.footer-col-3 {
  font-size: 20px;
  width: 250px; }
  .footer-col-3 H3 {
    font-size: 40px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 15px; }
  .footer-col-3 li {
    text-align: center; }
  .footer-col-3 a {
    font-size: 20px;
    text-decoration: none; }

.final {
  margin: auto;
  width: 1200px;
  height: 80px;
  color: aliceblue;
  font-size: 13px; }

.copy {
  width: 600px;
  float: left;
  margin-top: 50px;
  text-align: left; }

.politic {
  width: 600px;
  float: right;
  margin-top: 50px;
  text-align: right; }

/*Medidas de Ipad*/
@media screen and (max-width: 1025px) {
  .animate-welcome {
    animation-duration: 1.4s; }
  .animate-navbar {
    animation-duration: 0.8s; }
  .main .col-md-6 {
    width: 100%; }
  .main h1 {
    font-size: 2em;
    color: #e0e0e0;
    font-weight: bold;
    text-align: center; }
  .carousel-title {
    margin: 4%; }
    .carousel-title H2 {
      padding: 10px 0;
      background-color: #B5B4A2;
      border-radius: 4rem; }
  .footer-body .footer-image-credits {
    padding: 1% 1%;
    justify-content: unset; }
  .footer-body .footer-list {
    margin-right: 5rem;
    margin-left: 5rem; }
  .footer-list ul li a {
    text-decoration: none; } }

/*Medidas de Celular*/
@media screen and (max-width: 740px) {
  .main {
    padding: 176px 0 220px; }
    .main .col-sm-12 {
      margin: 0%;
      padding: 0%; }
      .main .col-sm-12 h1 {
        font-size: 4.5rem; }
    .main .read-more {
      margin-left: 28%; }
  .notification-section {
    font-size: 0.9rem; }
  .carousel {
    height: 351px; }
    .carousel-title {
      margin: 100px 10px 100px;
      padding: 25px 0;
      background-color: #B5B4A2;
      border-radius: 4rem; }
      .carousel-title h2 {
        margin: 55px 10px; }
  .section-galeria {
    padding: 10%; }
  .footer-body {
    margin-top: 15%; }
    .footer-body .footer-image-credits {
      padding: 1% 1%;
      justify-content: unset; }
      .footer-body .footer-image-credits p {
        font-size: 0.8rem; }
    .footer-body .footer-list {
      display: none; }
  .blog-list-footer ul {
    padding: 0%; }
  .blog-list-footer h1 {
    font-size: 1.5em; } }
