@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

.section1 {
  background-color: rgba(255, 127, 80, 0.842);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;
  height: 100%;
  padding: 2em 0; }

.container-about-us {
  width: 70%;
  margin: 0 auto; }
  .container-about-us h1 {
    text-align: center;
    padding-top: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 66px;
    font-style: normal;
    line-height: 108px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff; }
  .container-about-us p {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 7rem;
    color: #fff; }

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15em 0; }

.img-wrapper {
  width: 50%; }

.img {
  border-radius: 3rem;
  width: 390px;
  height: 520px;
  background: #fff;
  margin: 0 auto;
  background-size: cover; }

.text-wrapper {
  width: 50%; }

.text-about-us {
  margin-bottom: 1em; }

.btn-wrapper {
  margin-top: 2em; }

body {
  background-color: #fbf3db; }

/*INICIO HEADER NUEVO PRUEBA-------------------*/
/*INICIO DEL NAV*/
.container-navbar-fixed {
  width: 100%;
  top: 0;
  z-index: 1;
  position: sticky; }

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin: 0; }

.main-nav {
  list-style-type: none;
  display: none; }

.logo img {
  width: 90px; }

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); }

.main-nav li {
  text-align: center;
  margin: 15px auto; }

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px; }

.navbar-toggle {
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px; }

.active {
  display: block; }

.layer {
  background-color: rgba(255, 195, 138, 0.52);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.welcome-headline {
  background-color: transparent;
  color: #fffffff8;
  text-align: center;
  padding-top: 35vh;
  font-family: 'Satisfy', cursive;
  font-size: 10rem;
  font-style: normal;
  line-height: 108px;
  font-weight: 600;
  letter-spacing: normal; }

.welcome-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh; }
  .welcome-section-caf {
    background-image: url("../images/iconos/cofeedessertcat.webp"); }
  .welcome-section-rb {
    background-image: url("../images/iconos/CatWithEgg.webp"); }
  .welcome-section-hel {
    background-image: url("../images/iconos/BlackCat_Ice_Cream_.webp"); }
  .welcome-section-con {
    background-image: url("../images/iconos/CatContact.webp"); }
  .welcome-section-inicio {
    background-image: url("../images/iconos/CatWithChef2.webp"); }

.contenedor-newsletter {
  width: 100%; }

.wave-and-newsletter {
  width: 100%; }

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0; }

.contenedor-newsletter svg {
  position: sticky;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 70px;
  margin-bottom: -2px;
  z-index: 5; }

.newsletter {
  background: linear-gradient(90deg, #778beb, #f8a5c2);
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  position: relative; }
  .newsletter h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 40px; }
    .newsletter h1 span {
      display: block;
      font-size: 28px; }
  .newsletter p {
    color: #fff;
    font-size: 14px;
    margin: 10px 0 40px 0;
    text-align: center; }

.text {
  width: 35%;
  height: 70px;
  background-color: #f1f1f199;
  border-radius: 40px;
  position: relative;
  margin: auto; }
  .text input {
    width: 100%;
    height: 70px;
    border-radius: 40px;
    border: 0;
    background: none;
    padding: 0 30px;
    outline: none;
    font-size: 15px; }
  .text button {
    background-color: #574b90;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: 0.3s linear; }
    .text button:hover {
      opacity: 0.5; }

/*CARRUSEL VERSIÓN MOVIL*/
.contenedor-carrusel {
  width: 100%;
  margin: 17% 0% 30% 6%; }

.section-galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.35s ease-in; }
  .overlay H3 {
    position: absolute;
    border-radius: 20%;
    padding: 12%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }

.carousel-indicators {
  margin-bottom: 0%; }

.individual-movil {
  width: 47rem;
  height: 49rem; }

.carousel {
  /*Info del local de comida y carrusel*/ }
  .carousel-title {
    margin: 100px 400px 100px;
    padding: 10px 0;
    background-color: #948b8593;
    border-radius: 4rem; }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 4rem;
    margin-bottom: 130px; }
  .carousel-item p {
    font-size: 1.5rem; }

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  max-width: 90vw;
  margin-right: 5px;
  max-height: 90vh;
  margin-bottom: 5px; }

/*CARRUSEL DE LOCALES RECIENTES------*/
.carousel-nav-icon {
  height: 48px;
  width: 48px; }
  .carousel-nav-icon svg {
    position: relative; }

.margin-carusel-custom {
  margin-top: 10rem;
  margin-bottom: 10rem; }
  .margin-carusel-custom h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    margin-bottom: 3rem;
    color: orange; }

.img-carrusel {
  height: 44rem;
  width: 40rem; }
  .img-carrusel a {
    height: 44rem;
    width: 40rem; }
  .img-carrusel img {
    margin-left: 10px;
    height: 100%;
    border-radius: 1.5rem;
    background-size: cover;
    background-position: center center; }

.carousel-button {
  width: 4%; }

/*FIN DEL CARRUSEL*/
/*Grids de imágenes*/
/*Configuración del fondo de pantalla de las categorías*/
/*--------CONFIGURACIÓN DE CARDS DE LOCALES DE COMIDA---------*/
.grid-locals-container {
  display: block; }

.locales {
  margin: auto; }

.locales-columna {
  margin-top: 30px; }

.cards-locales .locales {
  display: grid; }

.contenedor-cards {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 605px);
  grid-template-rows: 600px 600px;
  font-size: 5rem; }

.container-fluid {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%; }

.blog-card {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  height: 450px;
  margin: 0 0;
  max-width: 98%;
  overflow: hidden; }
  .blog-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; }
  .blog-card p {
    font-family: 'Source Sans Pro', sans-serif; }

.card-image-container {
  background-position: center;
  background-size: cover;
  height: 100%;
  border-radius: 2rem;
  margin-top: 20px;
  margin-bottom: 20px; }
  .card-image-container img {
    object-fit: cover;
    display: block;
    width: 92%;
    border-radius: 2rem; }

/*Para agrandar la card*/
.card-body {
  height: 100%;
  padding: 30px 20px 50px; }
  .card-body p {
    font-size: 1.7rem; }

.title {
  color: #252830;
  font-family: "Playfair Display SC";
  font-size: 30px;
  font-weight: 400; }

.divider {
  background: #7A7A7A;
  height: 2px;
  margin: 25px auto;
  width: 40px; }

.read-more {
  bottom: 25px;
  color: #7A7A7A;
  cursor: pointer;
  left: 50%;
  padding: 5px;
  position: absolute;
  text-decoration: none;
  top: auto;
  transform: translateX(-50%); }
  .read-more:hover, .read-more:focus, .read-more:visited {
    color: #252830;
    text-decoration: none; }

@media (max-width: 530px) {
  .col-xs-6 {
    width: 100%; } }

@media (min-width: 520px) {
  .cards-locales .locales {
    grid-template-columns: repeat(2, 50%); } }

@media (min-width: 1024px) {
  .cards-locales .locales {
    grid-template-columns: repeat(2, 50%); }
  .locales {
    width: 1024px; } }

@media (min-width: 1200px) {
  .locales {
    width: 1630px; } }

.card-body {
  background-color: white; }

/*CARDS DE LOCALES VERSIÓN TABLET Y MOVIL*/
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 300px; }

.card {
  width: 420px;
  height: 400px;
  margin: 1em;
  perspective: 1500px;
  background-color: transparent;
  border: transparent;
  border-radius: 30px; }
  .card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1); }

.more {
  display: none; }
  .more:checked ~ .content {
    transform: rotateY(180deg); }

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 30px; }

.front .inner, .back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94); }

.front {
  background-color: #fff;
  background-size: cover;
  background-position: center center; }
  .front:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
    backface-visibility: hidden;
    background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7)); }
  .front .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center; }
  .front h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 800;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }
  .front .category-icon {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap; }
    .front .category-icon i {
      margin: 0 1px; }

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0; }
  .back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center; }
  .back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: #355cc9;
    grid-row: 3; }
    .back .info:not(:first-of-type):before {
      content: "";
      position: absolute;
      left: -0.9em;
      height: 18px;
      width: 1px;
      background-color: #ccc; }
    .back .info p {
      font-size: 1.2rem;
      font-weight: 700;
      margin-right: 0.5rem; }

.fa-seedling {
  margin-left: 20px;
  color: green; }

.fa-paw {
  margin-left: 40px;
  color: green; }

.fa-wheat {
  margin-left: 20px;
  color: green; }

.icon p {
  margin-top: 0; }

.back .info .icon {
  margin-left: 0.3em; }
  .back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap; }

.back .description {
  grid-row: 5;
  grid-column: 1/-1;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #355cc9;
  padding-right: 10px; }

.back .location, .back .price {
  font-weight: 600;
  color: #355cc9;
  grid-row: 1;
  font-size: 0.86em; }

.local-title {
  grid-column: 1/3;
  justify-self: end;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600; }

.back .price {
  grid-column: 3/-1;
  justify-self: right; }

.back .button {
  grid-column: 1/-1;
  justify-self: center; }

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
  .button:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: #355cc9; }
  .button.return {
    line-height: 3em;
    color: #355cc9;
    border-color: #355cc9;
    text-shadow: none; }
    .button.return:hover {
      background-color: #355cc9;
      color: #fff;
      box-shadow: none; }

::-webkit-scrollbar {
  width: 9px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #859ddf; }
  ::-webkit-scrollbar-thumb:hover {
    background: #355cc9; }

/*Formulario de Contacto*/
.form-container {
  width: 99vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 20rem; }

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
  margin-bottom: 10rem; }

.contact-us {
  background: #faf9f8;
  padding: 50px 100px;
  border-top: 10px solid #fbc82b;
  border-radius: 5rem; }
  .contact-us h2 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase; }

label, input, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan"; }

input {
  margin-bottom: 24pt; }

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0; }

span {
  font-size: 8pt; }

em {
  color: #f45702;
  font-weight: bold; }

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none; }

input:focus {
  border: 1px solid #6bd4b1; }

textarea {
  resize: none; }
  textarea:focus {
    border: 1px solid #6bd4b1; }

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none; }
  button:hover {
    background: inherit;
    color: #f45702;
    border-bottom: 2px solid #f45702; }

::selection {
  background: #ffc7b8; }

input:-webkit-autofill {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  transition: background-color 5000s ease-in-out 0s; }
  input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #2A293E;
    transition: background-color 5000s ease-in-out 0s; }

textarea:-webkit-autofill {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  transition: background-color 5000s ease-in-out 0s; }
  textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
    border: 1px solid #6bd4b1;
    -webkit-text-fill-color: #2A293E;
    transition: background-color 5000s ease-in-out 0s; }

/*FOOTER*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #778beb, #f8a5c2);
  color: #fff; }

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px; }

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.copyright-container {
  width: 1200px;
  margin: auto;
  height: 55px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

.copyright,
.politic {
  font-size: 16px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0; }

.copy {
  width: 600px;
  float: left;
  margin-top: 50px;
  text-align: left; }

.politic {
  width: 600px;
  float: right;
  text-align: right; }

.fa-arrow-right {
  margin-top: 1rem; }

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 35%;
  font-size: 20px; }

.website-logo img {
  width: 140px;
  margin: auto; }

.footer-info {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s; }

.menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  transition: 0.5s; }
  .menu-item-footer:hover {
    opacity: 1; }

.menu-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-top: 45px; }
  .social-container img {
    width: 70px;
    margin: 5px; }
  .social-container .tw,
  .social-container .ig,
  .social-container .fb {
    display: flex;
    align-items: center; }

footer .footer-menus .menu-item-footer,
footer .footer-menus .menu-title h3,
.newsletter input,
.newsletter p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }

.social-link {
  height: 100%;
  width: 30px;
  background-image: url();
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat; }
  .social-link:hover {
    opacity: 0.7; }

footer .social-link:nth-of-type(2), footer .social-link:nth-of-type(3) {
  background-image: url(); }

/*Medida de PC*/
@media screen and (min-width: 1170px) {
  .wrapper {
    display: none; }
  .contenedor-carrusel {
    display: none; }
  .container-fixed-movil {
    display: none; } }

/*Medidas de Ipad*/
@media screen and (max-width: 1025px) {
  .animate-welcome {
    animation-duration: 1.4s; }
  .animate-navbar {
    animation-duration: 0.8s; }
  .main .col-md-6 {
    width: 100%; }
  .main h1 {
    font-size: 2em;
    color: #e0e0e0;
    font-weight: bold;
    text-align: center; }
  .margin-carusel-custom {
    display: none; }
  .contenedor-carrusel {
    width: 100%;
    margin: 17% 0% 30% 13%; }
  .individual-movil {
    width: 60rem;
    height: 62rem; }
  .cards-locales {
    display: none; }
  .wrapper {
    margin-top: 20em;
    justify-content: space-around; }
  .card {
    width: 340px;
    height: 390px;
    margin-bottom: 200px; }
  .local-title {
    font-size: 1.5rem; }
  .newsletter .text {
    width: 80%; }
  .copyright-container {
    justify-content: flex-start; }
    .copyright-container .copyright {
      padding-left: 20%; }
  .politic {
    display: none; } }

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 100px;
    align-items: center; }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end; }
  .main-nav li {
    margin: 0; }
  .nav-links {
    margin-left: 40px; }
  .logo {
    margin-top: 0; }
  .navbar-toggle {
    display: none; }
  .logo:hover,
  .nav-links:hover {
    color: white; } }

/*Medidas de Celular*/
@media screen and (max-width: 850px) {
  .section1 {
    padding-bottom: 20rem; }
  .container-about-us {
    width: 80rem; }
  .text-wrapper {
    width: 49%; }
  .container-about-us p {
    letter-spacing: 0;
    line-height: 1;
    font-size: 25px; }
  .img {
    width: 343px;
    height: 514px; }
  .main {
    padding: 176px 0 220px; }
    .main .col-sm-12 {
      margin: 0%;
      padding: 0%; }
      .main .col-sm-12 h1 {
        font-size: 4.5rem; }
    .main .read-more {
      margin-left: 28%; }
  .margin-carusel-custom {
    display: none; }
  .notification-section {
    font-size: 0.9rem; }
  .section-galeria {
    padding: 10%; }
  .card {
    width: 340px;
    height: 390px;
    margin-bottom: 300px; }
  .local-title {
    font-size: 1.8rem; }
  .footer-container {
    padding: 2rem;
    flex-direction: column; }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center; }
    .footer-content-container:nth-of-type(1) {
      align-items: center; }
    .footer-content-container:nth-of-type(3) {
      border-bottom: none;
      padding-bottom: 0; }
  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a; }
    .footer-menus .footer-content-container:nth-of-type(1), .footer-menus .footer-content-container:nth-of-type(2) {
      font-size: 20px;
      align-items: center;
      border-bottom: none; }
  .politic {
    display: none; } }

@media screen and (max-width: 420px) {
  .section1 {
    padding-bottom: 14rem; }
  .container-about-us {
    width: 35rem; }
  .img-wrapper {
    width: 28%; }
  .individual-movil {
    width: 40rem;
    height: 45rem; }
  .carousel-item p {
    display: none; }
  .carousel-item h4 {
    display: none; }
  .carousel-inner {
    width: 160%; }
  .contenedor-carrusel {
    width: 100%;
    margin: 17% 0% 30% 6%; }
  .newsletter .text {
    width: 100%; }
  .footer-menus .footer-content-container:nth-of-type(1), .footer-menus .footer-content-container:nth-of-type(2) {
    font-size: 17px;
    align-items: center;
    border-bottom: none; }
  .copyright-container {
    justify-content: flex-start; }
    .copyright-container .copyright {
      padding-left: 15px;
      font-size: 12px; }
  .politic {
    display: none; } }
