/*CARRUSEL DE LOCALES RECIENTES------*/

.carousel-nav-icon {
    height: 48px;
    width: 48px;
}


.margin-carusel-custom {
    margin-top: 10rem;
    margin-left: 10%;
    margin-right: 2%;
}


.img-carrusel {
    height: 27rem;
    width: 25rem;

    img {
        margin-left: 10px;
        height: 100%;
        border-radius: 1.5rem;
        background-size: cover;
        background-position: center center;
    }
}

.carousel-button {
    width: 4%;
}

/*FIN DEL CARRUSEL*/