/*FOOTER*/



footer {
    background-color: #212121;
  }
  
.footer-inicio {
    align-items: center;
    margin-top: 50px;
}

  .logo {
    width: 100px;
    height: 100px;
    margin: auto;
  
    img {
        margin-top: 10px; 
      width: 100px;
    }
  }
  
  .footer-container {
    margin: auto;
    width: 1200px;
    display: flex;
    color: #585353;
  }
  
  .footer-col-1 {
    width: 500px;
  
    H3 {
        font-size: 40px;
      margin-bottom: 15px;
    }
  
    p {
        font-size: 20px;
      margin-bottom: 10px;
    }
  
  }
  
  .footer-col-2 {
    font-size: 15px;
    width: 450px;
  
    img {
      width: 50px;
      margin: 5px;
    }
  
    .tw, .ig, .fb {
      display: flex;
      align-items: center;
    }
  
    H3 {
        font-size: 40px;
        margin-top: 10px;
      margin-bottom: 15px;
    }

    p {
        font-size: 20px;
    }
  }
  
  .footer-col-3 {
    font-size: 20px;
    width: 250px;
  
    H3 {
    font-size: 40px;
      text-align: center;
      margin-left: 50px;
      margin-bottom: 15px;
    }
  
    li {
      text-align: center;
    }
  
    a {
        font-size: 20px;
      text-decoration: none;
    }

  }
  
  .final {
    margin: auto;
    width: 1200px;
    height: 80px;
    color: aliceblue;
    font-size: 13px;
  }
  
  .copy {
    width: 600px;
    float: left;
    margin-top: 50px;
    text-align: left;
  }
  
  .politic {
    width: 600px;
    float: right;
    margin-top: 50px;
    text-align: right;
  }