/*Grids de imágenes*/

.locals-galery .container .row img {
    height: 100%;
    border-radius: 2rem;
}

/*Configuración del fondo de pantalla de las categorías*/
@mixin category-background {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: top;
    padding: $main-image-pdd;
}

.main-rb {
    @include category-background;
    background-image: url(../images/iconos/CatWithEgg.webp);
}

.main-h {
    @include category-background;
    background-image: url(../images/iconos/BlackCat_Ice_Cream_.webp);
}

.main-caf {
    @include category-background;
    background-image: url(../images/iconos/CoffeeCat.webp);
}

.main-cont {
    @include category-background;
    background-image: url(../images/iconos/CatContact.webp);
}

/*Configuración de las cartas de las categorías de imágenes*/
.imageProperties{
    border-radius:2rem;
    height:100%;
}
.card {
    @extend .imageProperties;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;

    & .image {
        @extend .imageProperties;
        overflow: hidden;

        img {
            transition: .5s;
        }
    }

    &:hover .image img {
        opacity: .5;
        transform: translateX(30%);
        /*100%*/
    }

    & .details {
        @extend .imageProperties;
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        /*100%*/
        background: #ffc107;
        transition: .5s;
        transform-origin: left;
        transform: perspective(2000px) rotateY(-90deg);
    }

    &:hover .details {
        transform: perspective(2000px) rotateY(0deg);
    }

    .details .center {
        padding: 20px;
        text-align: center;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            margin: 0;
            padding: 0;
            color: #ff3636;
            line-height: 20px;
            font-size: $font-24;
            text-transform: uppercase;

            span {
                font-size: $font-16;
                color: #262626;
            }
        }

        p {
            margin: 0.1rem 0;
            padding: 0;
            color: #262626;
        }

        & ul {
            margin: 0.1rem auto 0;
            padding: 0;
            display: table;

            li {
                list-style: none;
                margin: 0.3rem 0.3rem;
                float: left;

                a {
                    display: block;
                    background: #262626;
                    color: #fff;
                    width: 1.7rem;
                    height: 1.7rem;
                    text-align: center;
                    transform: .5s;
                }

                &:hover {
                    background: #ff3636;
                }
            }
        }
    }

}