/*INICIO HEADER NUEVO PRUEBA-------------------*/
/*INICIO DEL NAV*/
.header {
    top: 0%;
    /*el position hace que quede fijo el nav*/
    position: fixed;
    width: 100%;
    z-index: 1;
}

.clara-michi-logo {
    width: 130px;
    height: 120px;
    cursor: pointer;
    margin-left: 20px;
    opacity: 0.9;
    /*para que quede delante*/

}

.menu-inicio {
    position: absolute;
    top: 15px;
    left: 34%;
    display: inline-block;
    border: 2px solid #f9f8fdb6;
    border-radius: 40px;
    background-color: #f9f8fdb6;
    /*esto no esta funcionando*/
    animation: slide-in 1s ease-out;
}


.lista-categorias {
    ul {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        margin: 7px;
        padding: 0 30px;
        list-style-type: none;
        font-size: 200%;
    }

    li {
        border: 2px solid transparent;
        border-radius: 40px;
        padding: 10px;
        /*NO ESTA TOMANDO*/
        transition: background 0.2s;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            background: #ffc617;
            border-radius: 40px;

            a {
                color: black;
            }
        }
    }


    a {
        color: #32245f;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
    }
}











/*Texto de Bienvenida*/
.main {
    position: relative;
    background-image: url(../images/iconos/CatWithChef2.webp);
    min-height: 100vh;
    background-size: cover;
    background-position: top;
    padding: 260px 0 220px;

    .col-sm-12 {
        H4 {
            color: $light-color;
            padding-top: 3%;
            margin-bottom: 0;
        }

        H1 {
            margin: 0%;
            padding: 3%;
            font-size: 9rem;
        }
    }

    p {
        padding: 5%;
        padding-bottom: 25px;
        font-size: $font-24;
        color: $dark-color;
        background-color: #f7e1acad;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    & .read-more {
        background: #74c3cb;
        color: $light-color;
        font-size: $font-24;
        margin-left: 39%;
        border-radius: 5px;
        padding: 10px 20px;
        align-items: center;
        text-decoration: none;
    }
}

/*Altura del texto de bienvenida*/
.row {
    margin-top: 0%;
}