/*INICIO HEADER NUEVO PRUEBA-------------------*/
/*INICIO DEL NAV*/

.container-navbar-fixed {
    width: 100%;
    top: 0;
    z-index: 1;
    position: sticky;
}


.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin: 0;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.logo img {
    width: 90px;
}


.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}




.active {
    display: block;
}

.layer {
    background-color: rgba(255, 195, 138, 0.52);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome-headline {
    background-color: transparent;
    color: #fffffff8;
    text-align: center;
    padding-top: 35vh;
font-family: 'Satisfy', cursive;
    font-size: 10rem;
    font-style: normal;
    line-height:108px;
    font-weight: 600;
    letter-spacing:normal;

}



//IMÁGEN DE LAS SECCIONES

.welcome-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;

    &-caf {
        background-image: url("../images/iconos/cofeedessertcat.webp");
    }

    &-rb {
        background-image: url("../images/iconos/CatWithEgg.webp")
    }

    &-hel {
        background-image: url("../images/iconos/BlackCat_Ice_Cream_.webp")
    }

    &-con {
        background-image: url("../images/iconos/CatContact.webp")
    }

    &-inicio {
        background-image: url("../images/iconos/CatWithChef2.webp")
    }

}