//Tipografía
$fuente-base: 'PT Sans Narrow',
sans-serif;
$fuente-logo: 'Satisfy',
cursive;
$fuente-subtexto: 'Staatliches',
cursive;

//Tamaño Tipografía
$font-12: 0.75rem; //12 px
$font-16: 1rem; // 16 px 
$font-21: 1.3rem; // 21 px 
$font-24: 1.5rem; // 24 px
$font-40: 3rem; // 40 px
$font-52: 3.2rem; // 52 px
$font-160: 10rem; // 160 px

// Colores
$dark-color:black;
$light-color: white;
$body-background: #d3d2d1;
//Averiguar funcionamiento
$collapse-navbar-nav: rgba(0, 0, 0, 0.527);
$light-grey: #ccc; //nav-item a ; main p
$nav-link: blue;
$nav-link-hover: #ffffff;
$nav-link-hover-background: #121f55;
$main-h1: #e7e3e3;
$main-readmore-background: #718093;
$carusel-title-background: #948b8593;
$h2-carusel-title-background: #B5B4A2;

// padding imágenes

$main-image-pdd: 260px 0 220px;