* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    background-color:#f3e6e8;
}

header {
    background-image: url(../images/iconos/PinkCoffee.jpg);
    background-position: center;
    background-size: cover;
}

H1,
.tituloBienvenida {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
}


.blogText {
    text-align: center;
}

.headerMenu nav ul {
    list-style-type: none;
}

.headerMenu nav ul li {
    font-family: 'Staatliches', cursive;
    color: #1b1717;
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 30px;
}

.headerMenu nav ul a {

    text-decoration: none;
    color: #1b1717;
}

.pieDePagina {
    clear: both;
    margin-top: 10px;
    background-color: #dbd3e0;
    padding: 1.5rem;

}

.table {
    margin-left: 32rem;
    display: table;
    width: 30%;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    padding-left: 1rem;
    padding-right: 1rem;
}