h4 {
    margin-top: 5%;
    margin-bottom: 5%;
}

h3 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 800;
    font-size: x-large;
    font-family: 'Staatliches', cursive;
    background-color: #ecdbd9;
}

.banner {
    text-align: center;
}

.wafleAlchemy {
    height: 20rem;
    width: 17rem;
    border-radius: 4rem;
}

.blackFlamingo {
    height: 20rem;
    width: 17rem;
    border-radius: 4rem;
}

.heladoFlaminia {
    height: 20rem;
    width: 17rem;
    border-radius: 4rem;
}

.batidoVibean {
    height: 20rem;
    width: 17rem;
    border-radius: 4rem;
}